body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    overflow: hidden;
    background-color: white;
    height: 80px;
    padding-left: 125px;
    padding-right: 125px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    float: left;
    display: block;
    padding: 10px;
    color: black; 
    text-decoration: none;
    font-size: 40px;
}

.navbar-right {
    float: right;
}

.menu-item {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu-item:hover {
    background-color: #555;
    color: white; 
}